@use 'colors';
@use 'fonts';
@use 'constants';

:host {
    display: flex;
    width: 100%;
    margin: 23px 39px;
    // border-top: 1px solid red;
}

.body-XS,
a {
    color: colors.$GrannySmith;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 115px;
    min-width: max-content;

    &__logo {
        @include fonts.font(1.25em, 700);
        display: flex;
        align-items: center;
        gap: 8px;
        color: colors.$Laurel;
        margin-bottom: 27px;
    }

    &__sub-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.lists-container {
    display: flex;
    width: 100%;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &--last {
            @include fonts.font(0.75em, $lh: 120%);
            justify-self: flex-end;
            margin-left: auto;

            &__icons {
                display: flex;
                gap: 35px;
                margin-bottom: 7px;
            }
        }
    }
}

.mg-r-60px {
    margin-right: 60px;
}

@media (width < constants.$tablet-768) {
    :host {
        flex-direction: column;
    }

    .main-info {
        flex-direction: row;
        gap: 0;
        margin: 0 0 26px 0;
        min-width: fit-content;

        &__logo {
            @include fonts.font(1.25em, 700);
            display: flex;
            align-items: center;
            gap: 8px;
            color: colors.$Laurel;
            margin-bottom: 27px;
        }

        &__sub-text {
            justify-self: flex-end;
            margin-left: auto;
        }
    }
}
