$Raleway: 'Raleway';

@font-face {
    font-family: $Raleway;
    src: url(public/fonts/raleway/Raleway-Bold.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $Raleway;
    src: url(public/fonts/raleway/Raleway-Medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
}

@mixin font($size, $weight: 500, $lh: 110%) {
    font-family: Raleway;
    font-size: $size;
    font-weight: $weight;
    line-height: $lh;
}

.body-L {
    @include font(1.875em);
}

.body-M {
    @include font(1.5em);
}

.body-S {
    @include font(1.25em);
}

.body-XS {
    @include font(1.125em); // 18px
}

body {
    font-family: $Raleway;
}
