@use 'fonts';
@use 'constants';

:host {
    display: flex;
    gap: 30px;
    max-width: 1110px;
}

.text {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 540px;

    &__headline {
        @include fonts.font(3.75em);
        margin-bottom: 20px;
    }

    &__paragraph {
        @include fonts.font(1.125em);
        margin-bottom: 60px;
    }
}

.pigeon-wrapper {
    max-width: 540px;
    max-height: 630px;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// позже вынести в mixin если будет повторятся
@media (width < constants.$tablet-768) {
    .body-S {
        @include fonts.font(1.125em); // 18px
    }

    .text {
        &__headline {
            @include fonts.font(2.5em, $lh: 100%); // 40px
        }
    }
}
