@use 'colors';

:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.widget-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: colors.$LilyWhite;

    &__item {
        max-width: 1110px;
    }
}

.main {
    flex-grow: 1;
    margin-bottom: 70px;
}
