<nav class="navigation body-S">
    <div class="navigation__logo">
        <a
            routerLink="/"
            class="navigation__logo__link"
        >
            <app-icon
                [color]="Laurel"
                [name]="'logo'"
            ></app-icon>
            <div class="navigation__logo__link__name">Ink. House</div></a
        >
    </div>
    <div><a routerLink="">Репродукции</a></div>
    <div><a routerLink="">Новинки</a></div>
    <div><a routerLink="">О нас</a></div>
    <div>
        <a routerLink=""
            ><app-icon
                [color]="BlackRock"
                [name]="'cart'"
            ></app-icon
        ></a>
    </div>
</nav>
