@use 'fonts';
@use 'colors';
@use 'constants';

:host {
    display: block;
    width: 100%;
    max-width: 1110px;
    box-sizing: content-box;
}

.controller {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin: 0 39px;

    &__title {
        @include fonts.font(2.5em);
        justify-self: flex-start;
        margin-right: auto;
    }

    &__controls {
        display: flex;
        gap: 32px;
    }
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media (width < constants.$tablet-768) {
    .controller {
        margin: 0 39px;

        &__title {
            @include fonts.font(1.875em);
        }
    }
}
