@use 'colors';
@use 'fonts';
@use 'constants';

:host {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px 20px 30px 20px;
    background-color: colors.$LilyWhite;
}

.img {
    width: 310px;
    height: 422px;
    background-position: center;
    object-fit: cover;
}

.author {
    @include fonts.font(1.125em);
    color: colors.$GrannySmith;
    margin-top: 20px;
}

.name {
    @include fonts.font(1.875em, $lh: 115%);
    margin-top: 7px;
}

.characteristics {
    @include fonts.font(1.125em);
    margin-top: 8px;
}

.price {
    @include fonts.font(1.5em);
    margin: 30px 0 19px 0;
    color: colors.$Laurel;
}

@media (width < constants.$tablet-768) {
    :host {
        width: 330px;
    }

    .img {
        width: 290px;
    }
}
