@use '../node_modules/scss-reset/_reset.scss';
@use 'fonts';
@use 'colors';
@use 'links';

body {
    background-color: colors.$MintCream;
    color: colors.$BlackRock;
    font-size: 16px;
    overflow-x: hidden;
}

// @media (width < 376px) {
//     body {
//         font-size: 10px;
//     }
// }
