@use '../node_modules/scss-reset/_reset.scss';
@use 'fonts';
@use 'colors';
@use 'links';

:root {
    font-size: 1px;
}

body {
    background-color: colors.$MintCream;
    color: colors.$BlackRock;
}
