<div class="pigeon-wrapper">
    <img
        class="pigeon-wrapper__img"
        src="images/pigeon.png"
        alt="pigeon"
    />
</div>
<div class="text">
    <h1 class="text__headline">Реплики картин от Ink. House</h1>
    <p class="text__paragraph">
        Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие
        произведения, доступные цены.
    </p>
    <app-button
        class="--green-square-1"
        [routerLink]="['/']"
        >Продукция</app-button
    >
</div>
